html, body {
    overflow-y: visible;
}

body {
    background-image: url("background.JPG");
    background-size: auto;
    overflow-x: hidden;
    overflow: hidden;
}

.select-div {
    height: 6vh;
}

.buttondiv {
    height: 4.5vh;
}

hr {
    border: 0.5px solid black;
}

.minimap {
    height: 14vh;
    border: solid 2px black;
    overflow: auto;
    white-space: nowrap;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.displayimg {
    height: 65vh;
}

.displaydiv {
    text-align: center;
}

.vid {
    height: 65vh;
}

.minimapimg {
    height: 100%;
}

.theimage {
    border: solid 2px red;
}

.image {
    border: solid 2px transparent;
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    height: 90%;
}

.leftarrow {
    display: none;
    /* vertical-align: middle; */
}

.rightarrow {
    display: none;
    /* vertical-align: middle; */
}

input[type="button"].savebutton {
    background-color:  #283593;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 0.5% 1%;
    text-align: center;
    text-decoration: none;
    font-size: 100%;
}

input[type="button"].deletebutton {
    background-color:  #932828;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 0.5% 1%;
    text-align: center;
    text-decoration: none;
    font-size: 100%;
}

input[type="image"].zoombutton {
    border: none;
    border-radius: 4px;
    text-align: center;
    height: 25px;
    vertical-align: middle;
    padding: 10px;
}

input[type="button"].button {
    background-color: transparent;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 0.5% 1%;
    text-align: center;
    text-decoration: none;
    font-size: 100%;
}

input[type="button"].button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}
input[type="button"].button:active {
    background: rgba(0, 0, 0, 0.445);
}

.zoom {
    height: 65vh;
    min-width: 1px;
    min-height: 1px;
    display: inline-block;
}
figure.zoom {
  background-position: 50% 50%;
  overflow: hidden;
}
/* figure.zoom img:hover {
  opacity: 0;
} */
figure.zoom img {
  transition: opacity .5s;
  display: block;
}

div#tipbar {
    margin-top: -100%;
}

div#slide-down {
    width:100%;
    overflow:hidden;
}
div#slide-up {
    width:100%;
    overflow:hidden;
}

div#slide-down p {
    animation: 4s slide-down;
    margin-top:0%;
}
div#slide-up p {
    animation: 4s slide-up;
    margin-top:-100%;
}

@keyframes slide-down {
  from {
    margin-top: -100%;
    height: 300%; 
  }

  to {
    margin-top: 0%;
    height: 100%;
  }
}
@keyframes slide-up {
  from {
    margin-top: 0%;
    height: 100%; 
  }

  to {
    margin-top: -100%;
    height: 300%;
  }
}
